<div class="register">
    <h3 class="register__header">Регистрация</h3>
    {{{register_form}}}
    {{{button}}}
    <div class="register__auth">
        <a class="register__auth_link" onclick="goToPage('auth')" href="#">Войти</a>
    </div>
</div>