<div class="auth_container">
    <div class="auth">
        <h3 class="auth__header">Вход</h3>
        {{{auth_form}}}
        {{{button}}}
        <div class="auth__signup">
            <a class="auth__signup_link" href="/register">Нет аккаунта?</a>
        </div>
    </div>
</div>
    