<div class="ui__conversation__header__contact">
    <button class="ui__conversation__header__contact__avatar">В</button>
    <span class="ui__conversation__header__contact__name">Вадим</span>
</div>
<div class="ui__conversation__header__more">
    <button class="ui__conversation__header__more-button">&#10247</button>
</div>
