<div class="ui__contact_list__header__profile">
    <a href="" class="ui__contact_list__header__profile-link">Профиль ></a>
</div>
<form class="ui__contact_list__header__search">
    <input type="search" placeholder="Поиск" class="ui__contact_list__header__search-input">
</form>
