@import './pages/404/404.pcss';
@import './pages/500/500.pcss';
@import './pages/auth/auth.pcss';
@import './pages/register/register.pcss';
@import './pages/profile/profile.pcss';
@import './pages/ui/ui.pcss';
html, body {
    margin: 0;
    padding: 0;
}