@import '../static/css/auth.pcss';
@import '../static/css/register.pcss';
@import '../static/css/profile.pcss';
@import '../static/css/error.pcss';
@import '../static/css/main.pcss';
html, body {
    margin: 0;
    padding: 0;
}